flows/Delete_permission_set_assignment-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Une_assignation_de_Permission_Set_existe</name>
        <label>Une assignation de Permission Set existe</label>
        <locationX>269</locationX>
        <locationY>168</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Existant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PermissionSetAssignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Permission_Set_Assignment</targetReference>
            </connector>
            <label>Existant</label>
        </rules>
    </decisions>
    <interviewLabel>Delete permission set assignement to a user {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete permission set assignment</label>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Permission_Set_Assignment</name>
        <label>Delete Permission Set Assignment</label>
        <locationX>266</locationX>
        <locationY>308</locationY>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0PSw0000000mKSk</stringValue>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
    </recordDeletes>
    <recordLookups>
        <name>Find_Permission_Set_Assignment</name>
        <label>Find Permission Set Assignment</label>
        <locationX>267</locationX>
        <locationY>47</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Une_assignation_de_Permission_Set_existe</targetReference>
        </connector>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0PSw0000000mKSk</stringValue>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
        <outputAssignments>
            <assignToReference>PermissionSetAssignment</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Find_Permission_Set_Assignment</startElementReference>
    <variables>
        <name>PermissionSetAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
